<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="京东校园金融特权是京东旗下专为大学生提供特权购物的金融工具。学生购买海量京东直供商品，最高支持24期分期还款。" />
    <meta name="Keywords" content="大学生付款, 京东校园专区, , 京东校园专区,京东金融,  校园金融，京东校园，校园特权，金融特权、校园购物" />
    <title>京东校园金融特权|深受大学生喜爱的分期购物工具 - 京东金融</title>
    <link rel="icon" href="https://www.jd.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//static.360buyimg.com/finance/base/1.2.0/css/base.css" />
    <link rel="stylesheet" href="//static.360buyimg.com/finance/consumer/common/2.0.0/css/common.css" />
    <!--<link rel="stylesheet" type="text/css" href="//static.360buyimg.com/finance/consumer/stuBaitiao/index/3.0.0/css/index.css">-->
    <script>
        window.jrBase = {
            navId: 'nav-baitiao',
            navSubId: 'nav-studentFenQi',
            footerFix: true,
            headerFix: true,
            // 侧边工具栏
            sidebar: true,
            // 问卷反馈url id为业务线配置
            feedbackUrl: '//ur.jr.jd.com/survey/show?id=104',
            //问卷调查
            surveyUrl: '//diaoyan.jd.com/survey/invitation.htm?eSurveyId=VPV3E7LN4Z25A',
            //在线客服
            serviceUrl: '//chat.jd.com/jd/chat?entry=jd_jr',
            //jimi机器人
            jimi: '//jimi.jd.com/index.action?source=financing'
        };
    </script>
</head>

<body>

    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript">
        (function() {
            if (typeof jrBase !== 'undefined') {
                if (typeof jrBase.navId !== 'undefined') {
                    var mainNav = document.getElementById(jrBase.navId);
                    if (mainNav) {
                        mainNav.className += ' current'
                    }
                }
                if (typeof jrBase.navSubId !== 'undefined') {
                    var subNav = document.getElementById(jrBase.navSubId);
                    if (subNav) {
                        subNav.className += ' current'
                    }
                }
            }
        })();
    </script>
    <script src="//static.360buyimg.com/finance/common/lib/jquery/1.8.3/jquery.js"></script>
    <script src="//static.360buyimg.com/finance/base/1.2.0/js/base.js"></script>

</body>

</html>